@use "bootstrap-sass-variables/form-check-input-width" as *;
$default-checkbox-spinner-size: 1.3;

.form-check {
    position: relative;

    &>.spinner-border {
        z-index: 1;
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.25s ease-in-out;
        position: absolute;
        height: calc(var(--checkbox-spinner-size, #{$default-checkbox-spinner-size}) * #{$form-check-input-width});
        width: calc(var(--checkbox-spinner-size, #{$default-checkbox-spinner-size}) * #{$form-check-input-width});
        margin-top: .25em;
        inset-inline-start: calc(0.5em - var(--checkbox-spinner-size, #{$default-checkbox-spinner-size}) * 0.5em);
        top: calc(0.5em - var(--checkbox-spinner-size, #{$default-checkbox-spinner-size}) * 0.5em);
    }
    &.form-check-reverse>.spinner-border {
        inset-inline-start: unset;
        inset-inline-end: calc(0.5em - var(--checkbox-spinner-size, #{$default-checkbox-spinner-size}) * 0.5em);
    }

    &.pending>.spinner-border {
        opacity: 1;
    }
}