@use "bootstrap-sass-variables/zindex-tooltip" as *;

#portal-tooltip {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: $zindex-tooltip;

    &>.popper-popup {
        z-index: $zindex-tooltip;
    }
}

.portal-tooltip-child.popper-popup {
    position: fixed;
}
.popper-popup>.tooltip>.tooltip-inner {
    text-align: start;

    min-width: 2em;
}
